<header id="header">
    <button class="menu btn btn-light" href="#">
        <i class="icon-menu2"></i>
    </button>
    <h2><a class="text-dark text-deco-none" href="<?php echo Url::base();?>">Barrio CMS</a></h2>
    <div class="right">
        <a class="btn btn-light"  href="<?php echo Url::base();?>">
            <i class="icon-home"></i>
        </a>
        <a class="btn btn-light" target="_blank" href="<?php echo Url::web();?>">
            <i class="icon-eye"></i>
        </a>
        <a class="btn btn-light" href="<?php echo Url::base();?>/usuario/salir">
            <i class="icon-lock3"></i>
        </a>
    </div>
</header>