<header id="header" class="bg-dark text-light">
    <button class="menu btn btn-dark" href="#">
        <i class="icon-menu2"></i>
    </button>
    <h2><a class="text-light text-deco-none" href="<?php echo Url::base();?>"><?php echo L::barriocms; ?></a></h2>
    <div class="right">
        <a class="btn btn-dark"  href="<?php echo Url::base();?>">
            <i class="icon-home"></i>
        </a>
        <a class="btn btn-dark" target="_blank" href="<?php echo Url::web();?>">
            <i class="icon-eye"></i>
        </a>
        <a class="btn btn-dark" href="<?php echo Url::base();?>/usuario/salir">
            <i class="icon-lock3"></i>
        </a>
    </div>
</header>
