<nav id="menu">
    <header>Menu</header>
    <section>
        <ul class="navigation">
            <li class="has-dropdown"><a href="<?php echo Url::base();?>" class="link" >Dashboard</a>
            <li class="has-dropdown">
                <a target="_blank" class="link" href="<?php echo Url::web();?>/docs">
                    Documentaíon
                </a>
            </li>
            <?php  Admin::loadExtensions(); ?>
            <li class="has-dropdown"><a href="<?php echo Url::base();?>/usuario/salir" class="link" >Salir</a>
        </ul>

        
    </section>
</nav>