<?php
    if(Url::post('borrar')){
        if(Token::check(Url::post('token'))){
            Dir::delete(ROOTBASE.'/content/'.$name);
            if(!Dir::exists(ROOTBASE.'/content/'.$name)){
                if(Dir::exists(ROOTBASE.'/public/imagenes/'.$name)){
                    Dir::delete(ROOTBASE.'/public/imagenes/'.$name);
                }
                Message::set(L::success, L::ilog_deletedir);
                Url::redirect(Url::base());
            }
        }else{
            die('CRSF detectado!');
        }
    }
?>
<?php include PARTIALS.'/head.inc.html';?>
<div id="page">
    <?php include PARTIALS.'/nav.inc.html';?>
    <main id="wrapper">
        <?php include PARTIALS.'/header.inc.html';?>
        <div id="content">
            <div class="bg-light p-3 pl-5">
                <b class="text-info"><?php echo L::section;?>: </b>
                <?php echo L::info;?>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="bg-white b-light p-5">
                        <h5 class="b-bottom-danger text-danger m-1 mb-4"><?php echo L::ilog_suretodeletedir;?> </h5>
                        <form method="post">
                            <input type="hidden" name="token" value="<?php echo Token::generate();?>">
                            <input type="submit" name="borrar" class="btn btn-primary" value="<?php echo L::deletedir;?>">
                             <a href="<?php echo Url::base();?>" class="btn btn-danger"><?php echo L::cancel;?></a>
                        </form>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </main>
</div>
<?php include PARTIALS.'/footer.inc.html';?>
