<?php
    if(Url::post('crear')){
        if(Token::check(Url::post('token'))){
            $dir = ROOTBASE.'/content';
            $date = date('d/m/Y');
            $html = "Title: Titulo de la pagina
Description: descripcion de la pagina
Keywords:
Published: false
Author: me
Date: $date
Image:
Robots: noindex,nofollow
Template: index
----\n";
            $directorio = ROOTBASE.'/content/'.Url::parse(Url::post('url'));
            if(!Dir::exists($directorio)){
                Dir::create($directorio);
                File::setContent($dir.'/'.Url::parse(Url::post('url')).'/index.md',$html);
                Message::set('Bien !','El archivo ha sido renombrado');
                Url::redirect(Url::base().'/editar/directorio/'.base64_encode(Url::parse(Url::post('url'))));
                exit;
            }else{
                Message::set('Error !','Ya existe ese directorio');
                Url::redirect(Url::base().'/crear/directorio');
                exit;
            }
        }else{
            die('CRSF detectado!');
        }
    }?>
<?php include PARTIALS.'/head.inc.html';?>
<div id="page">
    <?php include PARTIALS.'/nav.inc.html';?>
    <main id="wrapper">
        <?php include PARTIALS.'/header.inc.html';?>
        <div id="content">
            <div class="b-bottom-dark b-left-dark bg-dark text-white p-3 pl-5">
                <strong>Seccion: </strong>Crear Directorio
            </div>

            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="bg-white p-5">
                        <h5 class="b-bottom-dark text-dark">Esciba el nombre del directorio</h5>
                        <form method="post">
                            <input type="hidden" name="token" value="<?php echo Token::generate();?>">
                            <input type="text" name="url" id="url" placeholder="Nombre del directorio" required>
                            <input type="submit" name="crear" class="btn btn-primary" value="Crear Directorio">
                            <a href="<?php echo Url::base();?>" class="btn btn-danger">Cancelar</a>
                        </form>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>

        </div>
    </main>
</div>
<?php include PARTIALS.'/footer.inc.html';?>