<?php
    Admin::saveFile(ROOTBASE.'/content/'.$name.'/index.md',$name,'directorio');
    $directorio = explode('/',$name);
    $directorio = base64_encode($directorio[0]);

    Action::add('head',function(){
        echo '<link rel="stylesheet" href="'.Url::base().'/core/assets/editor.css" />';
    });
    Action::add('footer',function(){
        echo '<script rel="javascript" src="'.Url::base().'/core/assets/editor.js"></script>';
    });
?>

<?php include PARTIALS.'/head.inc.html';?>
<div id="page">
    <?php include PARTIALS.'/nav.inc.html';?>
    <main id="wrapper">
        <?php include PARTIALS.'/header.inc.html';?>
        <div id="content" class="mb-5">
            <div class="b-bottom-dark b-left-dark bg-dark text-white p-3 pl-5">
               <strong>Seccion: </strong> Editar - <?php echo ucfirst($name);?>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="card dashboard mb-4 b-top-dark bg-white text-dark">
                        <div class="card-title p-3 b-bottom-dark text-dark">Ajustes Pagina</div>
                        <div class="card-body p-3">
                            <ul class="list-unstyled">
                                <li class="p-2">
                                    <?php $link = ($name != 'index') ? $name : ''; ?>
                                    <a class="text-dark text-deco-none" target="_blank" href="<?php echo Url::web().'/'.$link;?>">
                                        <i class="icon-eye mr-2"></i>
                                        Ver Pagina
                                    </a>
                                </li>
                                <li class="p-2">
                                    <a class="text-dark text-deco-none" onclick="return confirm('Esta seguro de borrarlo!');" href="<?php echo Url::base().'/info/borrar/'.base64_encode($name);?>">
                                        <i class="icon-trash mr-2"></i>
                                        Borrar Directorio
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card dashboard mb-4 b-top-dark bg-white text-dark">
                        <div class="card-title p-3 b-bottom-dark text-dark">Paginas
                            <span class="pull-right">
                                <nav>
                                     <a  class="text-dark text-deco-none"
                                        href="<?php echo Url::base();?>/crear/pagina/<?php echo $directorio;?>">
                                        <i class="icon-circle-with-plus mr-2"></i> Añadir
                                    </a>
                                </nav>
                            </span>
                        </div>
                        <div class="card-body p-2 dashboard-section">
                            <ul class="list-unstyled m-0" style="height:15em;overflow-x:auto;">
                                <?php
                                    $directorio = ROOTBASE.'/content/'.$name;
                                    $files = array_diff(scandir($directorio), array('..', '.'));
                                    foreach($files as $file){
                                        if(is_dir(ROOTBASE.'/content/'.$file)) continue;
                                        if($file == 'index.md') continue;

                                        echo '<li class="p-2">
                                                <a  class="text-dark text-deco-none" href="'.Url::base().'/editar/archivo/'.base64_encode($name.'/'.File::name($file)).'">
                                                    <i class="icon-file-text2 mr-2"></i>'.$file.'
                                                </a>
                                            </li>';
                                    }
                                ?>
                            </ul>
                        </div>
                    </div>

                    <div class="card dashboard mb-4 b-top-dark bg-white text-darkmt-4 hide-phone">
                        <div class="card-title p-3 b-bottom-dark text-dark">Informacíon</div>
                        <div class="card-body p-2">
                            <ul class="list-unstyled">
                            <?php
                                $file = ROOTBASE.'/content/'.$name.'/index.md';
                                $folder = ROOTBASE.'/content';
                                $info = Admin::getPageInfo($folder,$file);
                                $html = '';
                                foreach($info as $item){
                                    $html .= '<li class="p-1"><small><b class="mr-2">Ultima Actualizacíon: </b>'.$item['last_update'].'</small></li>';
                                    $html .= '<li class="p-1"><small><b class="mr-2">Ultimo Cambio: </b>'.$item['last_change'].'</small></li>';
                                    $html .= '<li class="p-1"><small><b class="mr-2">Ultimo Acceso: </b>'.$item['last_access'].'</small></li>';
                                    $html .= '<li class="p-1"><small><b class="mr-2">Tamaño: </b>'.$item['filesize'].'</small></li>';
                                    $html .= '<li class="p-1"><small><b class="mr-2">Permisos: </b>'.$item['fileperms'].'</small></li>';
                                }
                                echo $html;
                            ?>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <?php
                        $header = Admin::getPageHeaders($name.'/index');
                        $content = Admin::getPageContent($name.'/index');
                    ?>
                    <form method="post">

                        <input type="hidden" name="token" value="<?php echo Token::generate();?>">

                        <div class="row">
                            <div class="col-6">
                                <label for="title">Titulo</label>
                                <input type="text" name="title" value="<?php echo $header['title'];?>" required>
                            </div>
                            <?php if($name != '404'){ ?>
                            <div class="col-6">
                                <label for="image">Imagen</label>
                                <input type="text" name="image" placeholder="Link de la imagen" value="<?php echo $header['image'];?>">
                            </div>
                            <?php } ?>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label for="template">Plantilla</label>
                                <input type="text" name="template" placeholder="index" value="<?php echo $header['template'];?>" required>
                            </div>
                            <div class="col-4">
                                <?php if($name != '404'){ ?>
                                <label for="published">Publicado <small class="text-dark"><?php echo $header['published'];?></small></label>
                                <select name="published">
                                    <option value="<?php echo $header['published'];?>"> --- </option>
                                    <option value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                                <?php } ?>
                            </div>
                            <?php if($name != '404'){ ?>
                            <div class="col-4">
                                <label for="keywords">Palabras clave</label>
                                <input type="text" name="keywords" placeholder="Palabras clave" value="<?php echo $header['keywords'];?>">
                            </div>
                            <?php } ?>
                        </div>
                        <?php if($name != '404'){ ?>
                        <div class="row">
                            <div class="col-4">
                                <label for="author">Author</label>
                                <input type="text" name="author" placeholder="Autor de la pagina" value="<?php echo $header['author'];?>">
                            </div>
                            <div class="col-4">
                                <label for="date">Date</label>
                                <input type="text" name="date" placeholder="<?php echo Date('d/m/Y');?>" value="<?php echo $header['date'];?>">
                            </div>
                            <div class="col-4">
                                <label for="robots">Robots <small class="text-dark"><?php echo $header['robots'];?></small></label>
                                <select name="robots">
                                    <option value="<?php echo $header['robots'];?>"> --- </option>
                                    <option value="noindex,nofollow">Noindex,Nofollow</option>
                                    <option value="index,follow">Index,Follow</option>
                                    <option value="noindex,follow">Noindex,Follow</option>
                                    <option value="index,nofollow">Index,Nofollow</option>
                                </select>
                            </div>
                        </div>
                        <?php } ?>
                        <div class="row">
                            <div class="col-12">
                                <label for="description">Descripcion</label>
                                <textarea name="description" rows="1" required><?php echo $header['description'];?></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" id="texto">
                                <label for="content"> Contenido </label>
                                <div class="editor">
                                    <div class="editor-control" id="editor-control">
                                        <a href="#h1">H1</a>
                                        <a href="#h2">H2</a>
                                        <a href="#h3">H3</a>
                                        <span class="editor-divider"></span>
                                        <a href="#bold" class="text-bold">B</a>
                                        <a href="#italic" class="text-italic">I</a>
                                        <a href="#quote" class="text Code">BQ</a>
                                        <a href="#ul-list"><abbr title="Unordered List">UL</abbr></a>
                                        <a href="#ol-list"><abbr title="Ordered List">OL</abbr></a>
                                        <a href="#code" class="text Code">&lt;&gt;</a>
                                        <a href="#hr">----</a>
                                        <span class="editor-divider"></span>
                                        <a href="#link">link</a>
                                        <a href="#image">Img</a>
                                        <span class="editor-divider"></span>
                                        <span class="editor-divider"></span>
                            
                                        <a href="#bloques">Bloques</a>
                                        <a href="#bloque">Bloque</a>
                                        <a href="#youtube">Youtube</a>

                                        <span class="editor-divider"></span>  
                                            
                                        <a href="#" id="btnExpand" class="text-deco-none text-dark">
                                            <i class="icon-resize-full-screen"></i>
                                        </a>
                                    </div>
                                    <textarea name="content" class="editor-area" id="editor-area" rows="10"><?php echo $content;?></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input class="btn btn-primary" type="submit" name="guardar" value="Guardar">
                                <a href="<?php echo Url::base();?>" class="btn btn-danger">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
<?php include PARTIALS.'/footer.inc.html';?>


