.editor-control {
  padding: 0.5em;
  background: #f9f9fa;
  border-bottom: 1px solid #cccccc;
  border-radius: 4px 4px 0 0;
}

.editor-control a {
  color: #333;
  text-decoration: none;
  padding: 2px 5px;
  border-radius: 2px;
  margin: 0;
  display: inline;
  font-size: 12px;
  font-weight: 400;
  font-family: monospace;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.editor-control a:hover {
  color: #868e96;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.editor {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  background: #f9f9fa;
  height: 100%;
  overflow: hidden;
}

.editor .editor-area {
  display: block;
  width: calc(100% - 0.5em);
  margin: 0.5em;
  padding: 0.5em 1em;
  border: none;
  overflow: auto;
  resize: none;
  height: calc(100% - 4em);
}

.editor .editor-area:focus {
  outline-color: #C9C5C5
}

span.editor-divider {
  background: #EDEDED;
  width: 1px;
  height: 1px;
  padding: 1px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.result {
  position: absolute;
  top: 2.2em;
  left: 0;
  display: block;
  width: calc(100% - 0.8em);
  margin: 0.4em;
  padding: 0.5em;
  height: calc(100% - 3em);
  border: none;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  background: #FFFFFF;
  color: #6B6B6B;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease
}

.result img {
  display: block;
  width: 100%
}

.show {
  visibility: visible !important;
  opacity: 1;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease
}

.active {
  background: #D24D4D;
  color: #FFF !important;
}


/* shortcodes
--------------------*/
select#shortcodes {
  width: 100px;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: white;
  border-color: #cccccc;
  color: #1e1e1e;
  border-radius: 0px;
}


/* modal
--------------------*/

.custom-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: #333;
  background-color: rgba(34, 34, 34, 0.44);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.custom-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 0;
  width: 25em;
  max-width: 90%;
  height: 12em;
  margin: auto;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 8px 8px -8px #111;
          box-shadow: 0 8px 8px -8px #111;
  border-radius: 0px;
  opacity: 1;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: from_top 1s 1 ease;
  animation: from_top 1s 1 ease;
  overflow: hidden;
}

@-webkit-keyframes from_top {
  0% {
    opacity: 0;
  }
}

@keyframes from_top {
  0% {
    opacity: 0;
  }
}

.custom-modal-header {
  margin: 0;
  padding: 0.5em 0.7em;
  background-color: #333;
  border-bottom: 1px solid #111;
  color: #e7e7e7;
  font-weight: normal;
  border-radius: 0px;
}

.custom-modal-content {
  display: block;
  width: 100%;
  padding: 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.custom-modal input,
.custom-modal button {}

.custom-modal input {
  display: block;
  width: 100%;
}

.custom-modal button {
  background: #333333;
  border-color: #111;
  color: #e7e7e7;
  cursor: pointer;
  margin: 0 4px 0 0;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.custom-modal button:focus,
.custom-modal button:hover {
  color: #333;
  background: white;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.custom-modal-action {
  padding: 0.5em;
}


/* preview
--------------------*/

.result h1,
.result h2,
.result h3,
.result h4,
.result h5,
.result h6 {
  line-height: 1em;
}

.result pre,
.result code,
.result kbd {
  background: #333;
  border-color: #000;
  color: #fdfdfd;
}

.result code,
.result kbd {
  padding: 1px 5px;
}

.result pre {
  padding: 1em;
  overflow-x: auto;
  word-wrap: normal;
  font-size: 16px;
}

.result pre .highlight {
  background: #d7d7d7;
}

.result pre code {
  padding: 0;
}

.result blockquote {
  border-left: 5px solid #e7e7e7;
  margin: 1em 0;
  padding-left: 10px;
}

.result hr {
  border: 0;
  border-top: 1px solid #e7e7e7;
}

.result table {
  border-collapse: collapse;
  border-spacing: 0;
}

.result table thead {
  border-bottom: 2px solid #e7e7e7;
}

.result table tbody tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.result table th,
.result table td {
  padding: 6px 13px;
  border: 1px solid #e7e7e7;
}

.result table th {
  font-weight: bold;
}

.result li p {
  margin: .5em 0;
}

a.text-bold {
  font-weight: bold;
}

a.text-italic {
  font-style: italic;
}

@media (max-width: 768px) {
  .wrapper {
    height: 100%;
    width: 100%;
    border: 0px solid #888686;
    overflow: hidden;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .editor .editor-area {
    width: 100%;
    margin: 0;
    padding: 0.5em;
    font-size: 12px;
    line-height: 1.5em;
    height: calc(100% - 53px);
  }
  .result {
    top: 38px;
    width: 100%;
    margin: 0;
    padding: 0.5em;
    height: calc(100% - 53px);
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    font-size: 12px;
  }
  .custom-modal {
    width: 25em;
    max-width: 90%;
    height: 10.1em;
    margin: auto;
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    -webkit-box-shadow: 0 8px 8px -8px #883232;
            box-shadow: 0 8px 8px -8px #883232;
    border-radius: 4px;
  }
}

@media (max-width: 480px) {
  .result {
    top: 53px;
  }
}